{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block additionalHead %}
        
    {% endblock additionalHead %}

    {% block title %}
        <title>Chat</title>
    {% endblock title %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">    
    
    {% block style %}
        
    {% endblock style %}
        
</head>
<body>
    
    {% block body %}
        
    {% endblock body %}
    
</body>
{% block script %}
    
{% endblock script %}    

</html>